@import "tailwindcss";

@layer base {
  @keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  
  body {
    background: linear-gradient(-45deg, #1e3a8a, #9333ea, #14b8a6, #f43f5e);
    background-size: 400% 400%;
    animation: gradientBG 20s ease infinite;
  }
}